:root {
    --elo : rgb(78, 123, 245);
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 600px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(142, 101, 255);
    color: white;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 10px 10px 0 0 ;
    margin: 0;
    height: fit-content;
}

#wrapper {
    height: fit-content;
    background-color: rgb(245, 248, 245);
    margin: 0;
    font-size: 16px;
    border-radius: 0 0 10px 10px;
}

input {
    width: 75px;
    text-align: center;
    padding: 8px 16px;
    border: 2px solid rgb(78, 123, 245);
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    display: block;
    padding: 10px 20px;
    background: white;
    color: black;
    margin: 0 auto;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

.klasa {
    background-color: white;
    color: rgb(78, 123, 245);
    padding: 20px 20px;
    margin: 20px 20px;
    border-radius: 5px;
}
